{% extends "base.html" %}

{% block content %}
  <form action="create_week" method="post">
   <h1>Week Logistics</h1>
   <table>
     <tr>
       <td>
         Enter Week Number:
         <select name="week_number">
          {% if form_dict['logistics']['week_number'] is defined %}
          <option value="0">select week</option>
          {% else %}
          <option selected="selected" value="0">select week</option>
          {% endif %}
          {% for i in range(1,14) %}
          {% if form_dict['logistics']['week_number'] is sameas i %}
          <option selected="selected" value="{{i}}">Week {{i}}</option>
          {% else %}
          <option value="{{i}}">Week {{i}}</option>
          {% endif %}
          {% endfor %}
         </select>
       </td>
       <td>
         Enter Year:
         {% if form_dict['logistics']['season_year'] is defined %}
         <input type="text" name="season_year" size="4" value="{{form_dict['logistics']['season_year']}}">
         {% else %}
         <input type="text" name="season_year" size="4">
         {% endif %}
       </td>
       {% if form_dict['logistics']['errors'][0] is defined %}
       <td class="form_error">{{';'.join(form_dict['logistics']['errors'])}}</td>
       {% endif %}
     </tr>
     <tr><td class="table-line" colspan="2"></td></tr>
   </table>
   <h1>Choose Games, Favorites, Spreads</h1>
   <table>
    <tr><th>Game #</th><th>Visitor</th><th>Home</th><th>Spread</th></tr>
    {% for game in range(1,11) %}
    <tr>
     <td>{{game}}</td>
     <td>
       <select name="game_{{game}}_team1">
       {% if form_dict["game_%d"|format(game)]['team1'] is defined %}
       <option value="{{form_dict["game_%d"|format(game)]['team1']}}">{{form_dict["game_%d"|format(game)]['team1']}}</option>
       {% else %}
       <option value="SELECT ONE">SELECT ONE</option>
       {% endif %}
       {% for the_team in teams %}
       <option value="{{the_team}}">{{the_team}}</option>
       {% endfor %}
       </select>
     </td>
     <td>
      {% if form_dict["game_%d"|format(game)]['favorite'] is sameas(1) %}
      Visitor favored:<input type="radio" name="game_{{game}}_favorite" value="1" checked="checked">
      {% else %}
      Visitor favored:<input type="radio" name="game_{{game}}_favorite" value="1">
      {% endif %}
     </td>
     <td>
       <select name="game_{{game}}_team2">
       {% if form_dict["game_%d"|format(game)]['team2'] is defined %}
       <option value="{{form_dict["game_%d"|format(game)]['team2']}}">{{form_dict["game_%d"|format(game)]['team2']}}</option>
       {% else %}
       <option value="SELECT ONE">SELECT ONE</option>
       {% endif %}
       <option value="SELECT ONE">SELECT ONE</option>
       {% for the_team in teams %}
       <option value="{{the_team}}">{{the_team}}</option>
       {% endfor %}
       </select>
     </td>
     <td>
      {% if form_dict["game_%d"|format(game)]['favorite'] is sameas(2) %}
      Home favored:<input type="radio" name="game_{{game}}_favorite" value="2" checked="checked">
      {% else %}
      Home favored:<input type="radio" name="game_{{game}}_favorite" value="2">
      {% endif %}
     </td>
     {% if form_dict["game_%d"|format(game)]['spread'] is defined %}
     <td><input type="text" name="game_{{game}}_spread" size="5" value="{{form_dict["game_%d"|format(game)]['spread']}}"></td>
     {% else %}
     <td><input type="text" name="game_{{game}}_spread" size="5"></td>
     {% endif %}
     {% if form_dict["game_%d"|format(game)]['errors'][0] is defined %}
     <td class="form_error">{{';'.join(form_dict["game_%d"|format(game)]['errors'])}}</td>
     {% endif %}
    </tr>
    <tr><td class="table-line" colspan="6"></td></tr>
    {% endfor %}
   </table>
   <input type="submit" value="Create Pick Sheet">
  </form>

{% endblock %}

