<!DOCTYPE html>

<html>
 <head>
  <title>CDCPOOL - Create Week</title>
  <link href="/stylesheets/picks.css" rel="stylesheet" type="text/css" media="all">
 </head>
 <body>
  <form action="create_week" method="post">
   <h1>Week Logistics</h1>
   Enter Week Number:
   <select name="week_number">
    <option value="1">Week 1</option>
    <option value="2">Week 2</option>
    <option value="3">Week 3</option>
    <option value="4">Week 4</option>
    <option value="5">Week 5</option>
    <option value="6">Week 6</option>
    <option value="7">Week 7</option>
    <option value="8">Week 8</option>
    <option value="9">Week 9</option>
    <option value="10">Week 10</option>
    <option value="11">Week 11</option>
    <option value="12">Week 12</option>
    <option value="13">Week 13</option>
   </select>
   Enter Year:
   <input type="text" name="season_year" size="4">
   <h1>Choose Games, Favorites, Spreads</h1>
   <table border="1">
    <tr><th>Game #</th><th>Visitor</th><th>Home</th><th>Spread</th></tr>
    <tr>
     <td>1</td>
     <td>
      <select name="game_1_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_1_favorite" value="team1">
     </td>
     <td>
      <select name="game_1_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_1_favorite" value="team2">
     </td>
     <td><input type="text" name="game_1_spread" size="5"></td>
    </tr>
    <tr>
     <td>2</td>
     <td>
      <select name="game_2_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_2_favorite" value="team1">
     </td>
     <td>
      <select name="game_2_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_2_favorite" value="team2">
     </td>
     <td><input type="text" name="game_2_spread" size="5"></td>
    </tr>
    <tr>
     <td>3</td>
     <td>
      <select name="game_3_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_3_favorite" value="team1">
     </td>
     <td>
      <select name="game_3_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_3_favorite" value="team2">
     </td>
     <td><input type="text" name="game_3_spread" size="5"></td>
    </tr>
    <tr>
     <td>4</td>
     <td>
      <select name="game_4_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_4_favorite" value="team1">
     </td>
     <td>
      <select name="game_4_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_4_favorite" value="team2">
     </td>
     <td><input type="text" name="game_4_spread" size="5"></td>
    </tr>
    <tr>
     <td>5</td>
     <td>
      <select name="game_5_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_5_favorite" value="team1">
     </td>
     <td>
      <select name="game_5_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_5_favorite" value="team2">
     </td>
     <td><input type="text" name="game_5_spread" size="5"></td>
    </tr>
    <tr>
     <td>6</td>
     <td>
      <select name="game_6_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_6_favorite" value="team1">
     </td>
     <td>
      <select name="game_6_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_6_favorite" value="team2">
     </td>
     <td><input type="text" name="game_6_spread" size="5"></td>
    </tr>
    <tr>
     <td>7</td>
     <td>
      <select name="game_7_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_7_favorite" value="team1">
     </td>
     <td>
      <select name="game_7_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_7_favorite" value="team2">
     </td>
     <td><input type="text" name="game_7_spread" size="5"></td>
    </tr>
    <tr>
     <td>8</td>
     <td>
      <select name="game_8_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_8_favorite" value="team1">
     </td>
     <td>
      <select name="game_8_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_8_favorite" value="team2">
     </td>
     <td><input type="text" name="game_8_spread" size="5"></td>
    </tr>
    <tr>
     <td>9</td>
     <td>
      <select name="game_9_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_9_favorite" value="team1">
     </td>
     <td>
      <select name="game_9_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_9_favorite" value="team2">
     </td>
     <td><input type="text" name="game_9_spread" size="5"></td>
    </tr>
    <tr>
     <td>10</td>
     <td>
      <select name="game_10_team1">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_10_favorite" value="team1">
     </td>
     <td>
      <select name="game_10_team2">
       <option value="TBD">TBD-Populate list from Team DB</option>
      </select>
      Favorite:<input type="radio" name="game_10_favorite" value="team2">
     </td>
     <td><input type="text" name="game_10_spread" size="5"></td>
    </tr>
   </table>
   <input type="submit" value="Submit Picks">
  </form>
 </body>
