<!DOCTYPE html>

<html>
 <head>
  <title>CDCPOOL - Make Picks</title>
  <link href="/stylesheets/picks.css" rel="stylesheet" type="text/css" media="all">
 </head>
 <body>
  <h1>MAKE YOUR PICKS</h1>
  <form>
   <table border="1">
    <tr><th>Game #</th><th>Visitor</th><th>Home</th></tr>
    <tr>
     <td>1</td>
     <td><input type="radio" name="game_1" value="team1">Texas Tech</td>
     <td><input type="radio" name="game_1" value="team2">Texas(4.5)</td>
    </tr>
    <tr>
     <td>2</td>
     <td><input type="radio" name="game_2" value="team1">UCLA</td>
     <td><input type="radio" name="game_2" value="team2">Southern Cal(3.5)</td>
    </tr>
    <tr>
     <td>3</td>
     <td><input type="radio" name="game_3" value="team1">Mississippi(1.5)</td>
     <td><input type="radio" name="game_3" value="team2">Mississippi State</td>
    </tr>
    <tr>
     <td>4</td>
     <td><input type="radio" name="game_4" value="team1">Texas A&M</td>
     <td><input type="radio" name="game_4" value="team2">Missouri(4.5)</td>
    </tr>
    <tr>
     <td>5</td>
     <td><input type="radio" name="game_5" value="team1">Georgia(3.5)</td>
     <td><input type="radio" name="game_5" value="team2">Georgia Tech</td>
    </tr>
    <tr>
     <td>6</td>
     <td><input type="radio" name="game_6" value="team1">Ohio State(14.5)</td>
     <td><input type="radio" name="game_6" value="team2">Michigan</td>
    </tr>
    <tr>
     <td>7</td>
     <td><input type="radio" name="game_7" value="team1">Florida State(10.5)</td>
     <td><input type="radio" name="game_7" value="team2">Florida</td>
    </tr>
    <tr>
     <td>8</td>
     <td><input type="radio" name="game_8" value="team1">Duke</td>
     <td><input type="radio" name="game_8" value="team2">North Carolina(5.5)</td>
    </tr>
    <tr>
     <td>9</td>
     <td><input type="radio" name="game_9" value="team1">Clemson</td>
     <td><input type="radio" name="game_9" value="team2">South Carolina(5.5)</td>
    </tr>
    <tr>
     <td>10</td>
     <td>Alabama(10.5)<input type="text" name=team1_score" size="5"></td>
     <td>Auburn<input type="text" name=team2_score" size="5"></td>
    </tr>
   </table>
   <input type="submit" value="Submit Picks">
  </form>
 </body>
