{% extends "week_base.html" %}

{% block head_content %}
    <link href="/stylesheets/update_games.css" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block content %}
    <form action="games" method="post">
    {% for game in games %}
        <table>
            <thead class="game-header">
                <td></td>
                <td id="teams-header">Teams</td>
                <td id="score-header">Score</td>
                <td></td>
                <td id="status-header"></td>
            </thead>
            <tr class="game-content">
                <td id="vs"></td>
                <td id="team-name">{{game.team1}}</td>
                <td id="team-score">
                    <input type="text" name="temporary" size="2" value="{{game.team1_score}}"></input>
                </td>
                <td id="game-qtr">Qtr
                    <input type="text" name="temporary" size="7" value="{{game.quarter}}"></input>
                </td>
                <td id="game-status"></td>
            </tr>
            <tr class="game-content">
                <td id="vs">vs.</td>
                <td id="team-name">{{game.team2}}</td>
                <td id="team-score">
                    <input type="text" name="temporary" size="2" value="{{game.team2_score}}"></input>
                </td>
                <td id="game-time">Time
                    <input type="text" name="temporary" size="7" value="{{game.time}}"></input>
                </td>
                <td id="game-status"></td>
            </tr>
        </table>
        <br>
    {% endfor %}
    <table>
        <tr>
            <td>
                <input type="submit" name="submit_form" value="Submit">
            </td>
            <td>
                <input type="submit" name="cancel_form" value="Cancel">
            </td>
        </tr>
    </table>
    </form>
{% endblock %}
