body {
   color : black;
   font-family: Helvetica;
   font-weight: 100;
   font-size: 10pt;
}

.title {
    color : blue;
    font-size: 14pt;
}

#test-name {
    color : black;
}

#test-pass {
   color : green;
   font-weight: 500;
   padding: 0px 4px;
   text-align: center;
}

#test-fail {
   color : red;
   font-weight: 500;
   padding: 0px 4px;
   text-align: center;
}

#test-time {
   color : gray;
   font-size: 8pt;
   text-align: center;
}


.test-output {
    color : gray;
    font-size: 12pt;
}
.summary-pass {
    color : green;
    font-size: 10pt;
}
.summary-fail {
    color : red;
    font-size: 10pt;
}
.summary-total {
    color : black;
    font-size: 10pt;
}
