body {
   color : black;
   font-family: Helvetica;
   font-weight: 100;
   font-size: 10pt;
}

.title {
    color : blue;
    font-size: 14pt;
}
#instructions {
    color : gray;
    font-size: 10pt;
}
#warning-text {
    background-color : #FFB2B2;
    color : black;
    font-size: 8pt;
    width: 40em;
    padding: 1px 8px;
}
#warning {
    color : red;
    background-color : #FFB2B2;
    font-weight: bold;
    font-size: 8pt;
    width: 7em;
    text-align: center;
    padding: 1px;
}
#test-title {
    color : blue;
    font-size: 10pt;
   font-weight: 500;
}
#test-description {
    color : black;
    font-size: 10pt;
   font-weight: 100;
}
#post-status {
   padding: 0px 4px;
   width: 10em;
   font-weight: 500;
}
thead {
   color : white;
   background-color : gray;
   padding: 0px 8px;
   font-size: 8pt;
   text-align: center;
}
#table-line {
   border-bottom: 1px solid lightgray;
   padding: 0 0 0 0;
}
#category {
   color : blue;
   font-weight: 500;
}
#view-link {
   padding: 0px 4px;
}
input
{
    font-size:10px;
    font-family: Helvetica;
    font-weight: 100;
    color:black;
    background-color:lightgray;
    border-style:none;
}
input.setup:hover
{
    font-size:10px;
    font-family: Helvetica;
    font-weight: 100;
    color:#FFFF00;
    background-color:#339900;
    border-style:none;
}
input.cleanup:hover
{
    font-size:10px;
    font-family: Helvetica;
    font-weight: 100;
    color:#FFFF00;
    background-color:red;
    border-style:none;
}
